{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Apply JavaScript example</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheet.css' %}"> 
   
  </head>
  <body>

    <li><a href="#">リンク1</a></li>
    <li><a href="#">リンク2</a></li>
    <li><a href="#">リンク3</a></li>
    <li><a href="#">リンク4</a></li>
    <li><a href="#">リンク5</a></li>
    <li><a href="#">リンク6</a></li>
    <li><a href="#">リンク7</a></li>



    <div class="box1">
      test1
    </div>

    <div class="box2">
      test2
    </div>

    <script type="text/javascript" src="{% static 'app/script001.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/script017.js' %}"></script>
    <noscript>JavaScriptが使用できません</noscript>


  </body>
</html>